.card-form {
  width: 100%; 
  max-width: 800px;  /* Limita el ancho máximo */
  height: 80vh; 
  max-height: 80vh; 
  overflow-y: auto; 
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  margin: 0 auto;  /* Centra el formulario horizontalmente */
}

.card-form h2 {
  margin-bottom: 20px;
}

.card-form form {
  width: 100%;
}

.card-form form div {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.card-form label {
  margin-bottom: 5px;
}

.card-form input,
.card-form select,
.card-form textarea {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.card-form button {
  cursor: pointer;
  padding: 10px 20px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  color: white;
}

.card-form button[type="submit"] {
  background: #007BFF;
}

.card-form button[type="button"] {
  background: #6c757d;
  margin-left: 10px;
}

/* Estilos para dispositivos móviles */
@media (max-width: 768px) {
  .card-form {
    padding: 15px;  /* Reduce el padding en dispositivos pequeños */
  }
  
  .card-form input,
  .card-form select,
  .card-form textarea,
  .card-form button {
    font-size: 14px;  /* Reduce el tamaño de fuente en dispositivos pequeños */
  }
}
