.card-editor-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.search-bar {
  margin-bottom: 20px;
}

.card-grid-home {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-gap: 10px;
}

.card-item {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0;
  padding: 10px;
}

.card-item:hover {
  background-color: #e0e0e0;
}

.card-item.selected {
  background-color: #c0c0c0;
}

.card-image {
  width: 100;
  height: 100;
}

.card-name {
  font-size: 14px;
  margin-top: 10px;
  text-align: center;
}

.card-id {
  font-size: 12px;
  color: gray;
  margin-top: 5px;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  background-color: #fff;
  width: 800px;
  max-width: 90%;
  display: flex;
  border-radius: 5px;
  overflow: hidden;
}

.modal-left {
  flex: 1;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-card-image {
  max-width: 100%;
  max-height: 100%;
}

.modal-right {
  flex: 1;
  padding: 20px;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.pagination-btn {
  background-color: #f0f0f0;
  color: #000;
  border: none;
  padding: 8px 12px;
  margin: 0 5px;
  cursor: pointer;
}

.pagination-btn:hover,
.pagination-btn.active {
  background-color: #e0e0e0;
}

.pagination-btn:first-child,
.pagination-btn:last-child {
  margin: 0 10px;
}

/* Estilos existentes */

/* Mobile First: Estilos para pantallas pequeñas por defecto */
.card-grid-home {
  grid-template-columns: repeat(2, 1fr); /* 2 columnas en móvil */
}

.modal {
  flex-direction: column; /* apilar los elementos en vertical */
}

.modal-left,
.modal-right {
  flex: 1;
  padding: 10px; /* reducir el padding */
}

/* Estilos para pantallas medianas y grandes */
@media (min-width: 768px) {
  .card-grid-home {
    grid-template-columns: repeat(4, 1fr); /* 4 columnas en tablet */
  }
  
  .modal {
    flex-direction: row; /* volver a la disposición en fila */
  }
  
  .modal-left,
  .modal-right {
    padding: 20px; /* volver al padding original */
  }
}

/* Estilos para pantallas grandes */
@media (min-width: 1024px) {
  .card-grid-home {
    grid-template-columns: repeat(8, 1fr); /* 8 columnas en desktop */
  }
}


