.container-crear-box {
    display: flex;
    flex-direction: column;
  }
  
  .container-crear-box > div:first-child {
    margin-bottom: 20px;
  }
  
  
  .submenu {
    margin-top: 20px;
  }
  
  .submenu ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .submenu li {
    display: inline-block;
    margin-right: 10px;
  }
  
  .submenu button {
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  .grid-container-crear-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    margin-top: 20px;
  }
  
  .block1,
  .block2 {
    border: 1px solid #ccc;
    padding: 10px;
  }
  
  .block1 h2,
  .block2 h2 {
    margin-top: 0;
  }
  
  .buscar input {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
  }
  
  .lista-cartas-crear-box {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
  }
  
  .lista-cartas-crear-box div {
    cursor: pointer;
  }
  
  .lista-cartas-crear-box img {
    width: 100%;
    height: auto;
    max-width: 100px;
  }
  
  .paginacion {
    overflow-x: auto;
    white-space: nowrap;
  }
  
  
  .paginacion button {
    padding: 5px 10px;
    margin-right: 5px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  .paginacion button.activo {
    background-color: #555;
  }
  
  .deck-crear-box {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
  }
  
  .deck-crear-box div {
    width: 20%;
    cursor: pointer;
    margin-bottom: 10px;
  }
  
  .deck-crear-box img {
    width: 100%;
    height: auto;
    max-width: 100px;
  }
  
  /* Estilos adicionales para el formulario 
.container-crear-box form {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.container-crear-box label {
  font-weight: bold;
  margin-top: 15px;
  display: block;
}

.container-crear-box input,
.container-crear-box select {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: border-color 0.3s ease;
}

.container-crear-box input:focus,
.container-crear-box select:focus {
  border-color: #007bff;
  outline: none;
}

.container-crear-box button[type="submit"] {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.container-crear-box button[type="submit"]:hover {
  background-color: #0056b3;
}
*/