/* Estilos existentes y mejorados */
.container {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centra el formulario en la pantalla */
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
}

.form {
    display: flex;
    flex-direction: column;
    width: 90%; /* Ancho relativo para dispositivos más pequeños */
    max-width: 400px; /* Ancho máximo para dispositivos más grandes */
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

.input {
    margin-bottom: 20px;
    font-size: 16px; /* Tamaño de fuente más grande para una mejor accesibilidad */
}

.button {
    cursor: pointer;
    background-color: #007BFF;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    font-size: 16px; /* Tamaño de fuente más grande para una mejor accesibilidad */
}

/* Estilos para pantallas medianas y grandes */
@media (min-width: 768px) {
    .form {
        width: 60%; /* Ancho más estrecho para pantallas más grandes */
    }

    .input {
        font-size: 18px;
    }

    .button {
        font-size: 18px;
    }
}
