/* Estilos del sidebar */
.sidebar {
  width: 200px;
  background-color: #f0f0f0;
  padding: 20px;
  height: 100vh; /* Ajusta la altura del sidebar al 100% del viewport */
  display: flex; /* Utiliza flexbox para alinear los elementos verticalmente */
  flex-direction: column; /* Alinea los elementos en columna */
  justify-content: space-between; /* Añade espacio entre los elementos */
}

.sidebar-menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar-menu-item {
  margin-bottom: 10px;
}

.sidebar-menu-link {
  text-decoration: none;
  color: #000;
  font-weight: bold;
  transition: color 0.3s;
}

.sidebar-menu-link:hover {
  color: #ff0000;
}

.submenu-crear-box {
  margin-top: 10px;
  padding-left: 20px;
}

.submenu-link {
  text-decoration: none;
  color: #000;
  transition: color 0.3s;
}

.submenu-link:hover {
  color: #ff0000;
}

.sidebar-btn {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 0.5rem 0;
  padding: 0.5rem;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  text-decoration: none;
}


.sidebar-btn:hover {
  background-color: #0056b3;
}

.sidebar-btn:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25);
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center; /* Centra verticalmente el logo en el contenedor */
  padding: 10px 0;
}

.logo {
  max-width: 100%;
  height: auto;
}

.sidebar-link {
  text-decoration: none;
}
